name: Deploy Dev Environment

on:
  push:
    branches: [ "dev" ]

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      # --- ÉTAPE 1 : Login pour le BUILD ---
      - name: Log in to the Container registry
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.CR_PAT }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=raw,value=dev

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

      # --- ÉTAPE 2 : Déploiement sur le VPS ---
      - name: Deploy to VPS
        uses: appleboy/ssh-action@master
        env:
          GH_TOKEN: ${{ secrets.CR_PAT }}
          GH_USER: ${{ github.actor }}
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          envs: GH_TOKEN,GH_USER
          script: |
            # Vérification de sécurité
            if [ -z "$GH_TOKEN" ]; then
              echo "❌ ERREUR : La variable CR_PAT est vide !"
              exit 1
            fi

            # Login Docker sur le VPS via la variable d'environnement
            echo $GH_TOKEN | docker login ghcr.io -u $GH_USER --password-stdin
            
            cd /home/ubuntu
            
            docker-compose -f docker-compose.dev.yml pull
            docker-compose -f docker-compose.dev.yml up -d